@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

@import url(http://fonts.googleapis.com/css?family=Petit+Formal+Script);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
  background-color: $background-grey;
}

.pageheader h1{
  font-family: 'Amatic SC', cursive;
  font-size: 125px;
  padding-top: 8%;
  color: $title-blue;
  text-align: center;
}

.pageheader h2{
  font-family: 'Lora', serif;
  font-size: 35px;
  padding-bottom: 3%;
  color: white;
  text-align: center;
}

.texttitle{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
  padding-top: 2%;
  color: white;
  line-height: 200%;
  padding-bottom: 2%;
}

article p{
  color: $paragraph-text-grey;
  font-family: 'Lora', serif;
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 200%;
  text-align: center;
}

article ul{
  color: $paragraph-text-grey;
  font-size: 20px;
  font-family: 'Lora', serif;
}

article ul li{
  padding-top: 1%;
  padding-bottom: 1%;
}

em{
  font-style: italic;
}

.currentproduction{
  float: left;
  width: 35%;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: auto;
  padding-bottom: 4%;
  background-color: $background-grey;
}

.lendahand {
  padding-top: 2%;
  float: right;
  width: 35%;
  padding-left: 1%;
  margin-left: auto;
  margin-right: 10%;
}

.pastproductions{
  clear: both;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3%;
}

.modalthumbnailscontainer{
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
}

.modalthumbnails {
  float: left;
  width: 20%;
  margin: 2% 2% 2% 2%;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.introduction{
  padding-bottom: 2%;
}

.clickedModal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.clickedModal:target{
  opacity: 1;
  pointer-events: auto;
}

.clickedModal > div{
  width: 50%;
  height: 66%;
  position: fixed;
  top: 17%;
  left: 25%;
  //margin: 10% auto;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  background: $paragraph-text-grey;
}

.clickedModal div img{
  max-width: 100%;
  max-height: 100%;
}

.exit{
  background: $background-grey;
  color: white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.modalthumbnails img{
  max-width: 100%;
  //vertical-align: middle;
  display: inline-block;
  border-width: 8px;
  border-color: $paragraph-text-grey;
  border-style: solid;
}

.footer{
  margin-top: 5%;
  color: $background-grey;
  font-family: 'Lora', serif;
  font-size: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 200%;
  width: 100%;
  background-color: $footer-background-color;
  text-align: center;

  -webkit-animation: colorloop 5s infinite;
  animation: colorloop 5s infinite;
}

@-webkit-keyframes colorloop {
  0% {background: $footer-background-color; color: $background-grey;}
  50% {background: $background-grey; color: $footer-background-color;}
  100% {background: $footer-background-color; color: $background-grey;}
 }

@keyframes colorloop{
  0% {background: $footer-background-color; color: $background-grey;}
  50% {background: $background-grey; color: $footer-background-color;}
  100% {background: $footer-background-color; color: $background-grey;}
}

nav{
  width: 100%;
  border-style: solid;
  border-color: $footer-background-color;
  background-color: $footer-background-color;
  div{
    font-size: 40px;
    border: none;
    font-family: 'Lora', serif;
    background-color: black;
    color: aliceblue;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.headernavbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 20%;
  nav ul li a {
    font-family: 'Lato', sans-serif;
    color: $header-navbar-text-color;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 20%;
    font-size: 20px;
    display: block;
    float: left;
    background-color: $footer-background-color;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    max-height: 100%;
    transition: all 0.4s ease;
  }
}

.headernavbar.resize {
  transition: all 0.4s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  height: 5%;
  nav ul li a {
    font-family: 'Lato', sans-serif;
    color: $header-navbar-text-color;
    width: 20%;
    font-size: 15px;
    display: block;
    float: left;
    background-color: $footer-background-color;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    max-height: 100%;
  }
}

.headernavbar nav ul li a:hover{
  color: $navbar-hover-text-color;
  background-color: $navbar-haver-background-color;
}

.imggallery {
  width: 100%;
  background-color: $image-gallery-background-color;
}

.videowrapper{
  background-color: black;
  width: 100%;
  .harlemshake{
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
}

article ul li{
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

article p{
  text-align: center;
  a{
    text-decoration: none;
    color: $article-paragraph-link-color;
  }
}

.gettoknowus article p a i {
  padding-left: 2%;
  padding-right: 2%;
}

html, body{
  margin: 0;
  padding: 0;
}

.introduction{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.backgroundmovingimage{
  width: 100%;
  background-color: black;
}

.backgroundmovingimage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.carousel {
  clear: both;
  width: 100%;
  background-color: $title-blue;
  height: 60%;
  button {
    position: absolute;
    border: none;
    background-color: $title-blue;
    color: $background-grey;
    width: 8%;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    i {
      text-align: center;
    }
  }
  .carouselcontainer {
    max-width: 75%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    div {
      height: 100%;
      display: none;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

.next {
  right: 7%;
  vertical-align: middle;
}

.prev {
  left: 7%;
  vertical-align: middle;
}